[Unit]
Description=Controller daemons service
Requires=configuration.service
After=configuration.service

[Service]
ExecStart=/usr/local/bin/start-daemons
ExecStop=/usr/local/bin/stop-daemons
PrivateTmp=true
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
