[Unit]
Description=Idle controller timer
Requires=idle.service
StopWhenUnneeded=true

[Timer]
AccuracySec=1sec
OnCalendar=*:*:0/10

[Install]
WantedBy=multi-user.target
