[Unit]
Description=Controller service

[Service]
ExecStart=/usr/local/bin/start-controller
PrivateTmp=true
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
