[Unit]
Description=Controller service
Requires=daemon-controller.service
After=daemon-controller.service

[Service]
ExecStart=/usr/local/bin/start-controller
ExecStop=/usr/local/bin/stop-controller
PrivateTmp=true
RemainAfterExit=true
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
