[Unit]
Description=Controller configuration service
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/fatctl configure
PrivateTmp=true
RemainAfterExit=true
PassEnvironment=FATC_SYSTEMD
PassEnvironment=FATC_COMPOSE
PassEnvironment=FATC_PROXY_SOCKETS
PassEnvironment=FATC_TIMEOUT_SOCKETS
PassEnvironment=FATC_DAEMONS
PassEnvironment=FATC_DAEMONS_SOCKETS
PassEnvironment=FATC_SERVICES
PassEnvironment=FATC_SERVICES_SOCKETS
PassEnvironment=FATC_IDLE

[Install]
WantedBy=multi-user.target
