[Unit]
Description=Controller service
Requires=configuration.service idle.timer
After=configuration.service idle.timer

[Service]
ExecStart=/usr/bin/fatctl start-controller
ExecStop=/usr/bin/fatctl stop-controller
PrivateTmp=true
RemainAfterExit=true
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
