[Unit]
Description=Controller configuration service
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=/usr/bin/fatctl templates render
ExecStartPre=/usr/bin/fatctl configure
ExecStart=/bin/echo "fatc configured"
ExecStop=/bin/echo "stopping fatc configuration"
ExecStopPost=/usr/bin/fatctl deconfigure
PrivateTmp=false
RemainAfterExit=true
PassEnvironment=FATC_SYSTEMD
PassEnvironment=FATC_COMPOSE
PassEnvironment=FATC_PROXY_SOCKETS
PassEnvironment=FATC_TIMEOUT_SOCKETS
PassEnvironment=FATC_CONFIG
PassEnvironment=FATC_DAEMONS
PassEnvironment=FATC_DAEMONS_SOCKETS
PassEnvironment=FATC_SERVICES
PassEnvironment=FATC_SERVICES_SOCKETS
PassEnvironment=FATC_IDLE

[Install]
WantedBy=multi-user.target
