[Unit]
Description=Controller service
Requires=fatc.configuration.service fatc.idle.timer
After=fatc.configuration.service fatc.idle.timer

[Service]
ExecStartPre=/usr/bin/fatctl start
ExecStart=/bin/echo "fatc started"
ExecStop=/bin/echo "PRESTOPPING FATC"
ExecStop=/usr/bin/fatctl stop
ExecStopPost=/usr/bin/fatctl stop-sockets
PrivateTmp=true
RemainAfterExit=true
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
