[Unit]
Description=Controller service
Requires=fatc.configuration.service fatc.idle.timer
After=fatc.configuration.service fatc.idle.timer

[Service]
ExecStart=/usr/bin/fatctl start
ExecStop=/usr/bin/fatctl stop
PrivateTmp=true
RemainAfterExit=true
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
