[Unit]
Description=Idle controller service

[Service]
ExecStart=/usr/bin/fatctl stop-idle
PrivateTmp=true
RemainAfterExit=false
PassEnvironment=FATC_COMPOSE
PassEnvironment=FATC_TIMEOUT_IDLE
PassEnvironment=FATC_IDLE
PassEnvironment=FATC_SERVICES
