[Unit]
Description=Idle fatc timer
Requires=idle.service

[Timer]
AccuracySec=1sec
OnBootSec=10
OnUnitInactiveSec=10

[Install]
WantedBy=multi-user.target
